.tag {
    border-radius: 15px;
    display: inline-flex;
    gap: 10px;
    padding: 4px 8px;
    color: var(--white);
    background-color: var(--pink);

    .remove-icon {
        font-weight: 600;
        cursor: pointer;
    }
}