#homePage {
    div.right {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .avg-age {
            display: flex;

            .avg-age-content {
                flex: 1;
                margin: 0 20px;

                p {
                    margin-bottom: 16px;
                    font-weight: 600;
                    font-size: 0.875rem;
                }

                ul {
                    font-size: 0.875rem;
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;
                    background-color: var(--bg-gray-dark);
                    border-radius: 10px;
                    padding: 5px;

                    li {
                        a {
                            display: flex;
                            justify-content: space-between;
                            padding: 10px;
                            background-color: var(--white);
                            border-radius: 5px;
                            border: 1px solid transparent;
                            text-decoration: none;
                            color: inherit;

                            &:hover {
                                border: 1px solid var(--pink);
                            }
                        }
                    }
                }
            }
        }

        .picked-container {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            padding: 40px 0;
            border-radius: 10px;
            box-shadow: 0px 3px 15px -5px var(--box-shadow);
            color: var(--white);
            font-size: 1.125rem;
            font-weight: bold;

            &.horizontal-divider {
                background: linear-gradient(rgba(247, 243, 247, 0.2) 50%, rgba(247, 243, 247, 0.2) 50%) 0 50% / 100% 0.1em,
                            radial-gradient(100% 100%, transparent 2.5em, rgba(247, 243, 247, 0.2) 2.55em, rgba(247, 243, 247, 0.2) 2.6em, transparent 0.5em) calc(50% - 1em) 50% / 6.25em 6.25em,
                            linear-gradient(to bottom, var(--purple-light), var(--purple-blue)) 0 0 / 100% 100%;
                background-repeat: no-repeat;
            }

            &.vertical-divider {
                background: linear-gradient(rgba(247, 243, 247, 0.2) 50%, rgba(247, 243, 247, 0.2) 50%) calc(50% - 1em) 0 / 0.1em 100%,
                            radial-gradient(100% 100%, transparent 2.5em, rgba(247, 243, 247, 0.2) 2.55em, rgba(247, 243, 247, 0.2) 2.6em, transparent 0.5em) calc(50% - 1em) 50% / 6.25em 6.25em,
                            linear-gradient(to bottom, var(--purple-light), var(--purple-blue)) 0 0 / 100% 100%;
                background-repeat: no-repeat;
            }

            .picked-player {
                display: flex;
                margin-top: 20px;

                .player-photo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 110px;
                    width: 110px;
                    background-color: var(--gray-lighter);
                    color: var(--black);
                    border-radius: 50%;
                    border: 3px solid var(--pink);
                    font-size: 1.75rem;
                    user-select: none;

                    &.less-picked {
                        border: 3px dashed var(--purple);
                    }
                }

                .percentage {
                    flex: 1;
                    border-bottom: 2px solid var(--white);height: fit-content;
                }
            }

            .most-picked {
                border: 3px dashed var(--purple-light);
                padding: 5px;
                border-radius: 50%;
            }
            
        }
    }

    .btn-add-team {
        text-decoration: none;
        background: linear-gradient(to bottom, var(--purple-light), var(--purple));
        padding: 10px;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        color: var(--white);
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;
    }

    // Table Style
    table {
        width: 100%;
        font-weight: 600;
        font-size: 	0.875rem;
        border-collapse: separate;

        thead {
            th {
                padding: 20px;
                text-align: start;
                
                &:first-child {
                    border-right: 1px var(--bg-gray-dark) solid;
                }

                i {
                    width: 0.625rem;
                    float: right;
                    cursor: pointer;
                }
            }

            &::after {
                content: '';
                height: 1rem;
                display: table-row;
            }
        }

        tbody {
            td {
                padding: 20px;
                border-bottom: 1px solid var(--bg-gray-dark);
            }

            tr:hover td {
                color: var(--purple-light);
                background-color: var(--pink-light);
                border-bottom: 1px solid transparent;
                    
                &:first-child {
                    border-radius: 5px 0 0 5px;
                }

                &:last-child {
                    border-radius: 0 5px 5px 0;
                }

                .action-icons {
                    visibility: visible;
                }
            }

            .action-icons {
                width: 0.75rem;
                display: inline-flex;
                column-gap: 10px;
                visibility: hidden;
                cursor: pointer;
                filter: brightness(0) saturate(100%) invert(42%) sepia(10%) saturate(3003%) hue-rotate(274deg) brightness(100%) contrast(79%);
            }
        }
    }
}