@import './config/breakpoints';

#teamPage {
    form {
        @include md {
            width: 90%;
            margin: 0 auto;
        }
        @include xl {
            width: 80%;
        }

        section > h2 {
            font-weight: 600;
            text-transform: uppercase;
            color: var(--gray);
            margin-bottom: 30px;
            text-align: center;
        }

        .form-group {
            margin: 15px 0;
            font-size: 0.9375rem;
            display: flex;
            flex-direction: column;

            label {
                font-weight: 600;
                margin-bottom: 10px;
            }

            input, textarea, select {
                padding: 10px;
                border-radius: 5px;
                font-family: inherit;
                font-size: 0.875rem;
                border: 1px solid var(--gray-light);

                &::placeholder {
                    color: var(--gray);
                }

                &[type="radio"] {
                    display: none;
                }
            }

            select {
                background: var(--white);
                font-weight: 500;
            }

            textarea {
                resize: none;
            }

            // RADIO INPUT STYLE
            div > input[type="radio"] + *::before {
                content: "";
                display: inline-block;
                vertical-align: bottom;
                width: 1rem;
                height: 1rem;
                margin-right: 0.5rem;
                border: 1px solid var(--gray);
                border-radius: 50%;
            }

            div > input[type="radio"]:checked + *::before {
                background: radial-gradient(var(--purple) 0%, var(--purple) 40%, transparent 50%, transparent);
                border-color: var(--pink);
            }

            div > input[type="radio"]:checked + * {
                color: var(--pink);
            }

            .radio {
                display: flex;
                column-gap: 40px;

                & label {
                    font-weight: 400;
                    color: var(--gray-dark);
                }
            }

            // FOCUS STYLE
            &:focus-within {
                input, textarea, select {
                    outline: 1px solid var(--pink);
                }
                label {
                    color: var(--pink);
                }
            }

            .input-tag {
                height: 120px;
                border: 1px solid var(--gray-light);
                border-radius: 5px;
                overflow: hidden;

                .tag-list {
                    padding: 10px;
                    height: 120px;

                    .tag {
                        border-radius: 15px;
                        display: inline-flex;
                        gap: 10px;
                        padding: 4px 8px;
                        color: var(--white);
                        background-color: var(--pink);
                    }

                    input {
                        appearance: none;
                        border: 0;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

        .team-information {
            & > div {
                @include md {
                    display: flex;
                    gap: 50px;
                    margin-bottom: 20px;
                }

                & > div {
                    flex: 1;
                }
            }

            .column {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .configure-squad {
            margin-bottom: 20px;

            h2 {
                margin-top: 30px;
            }

            @include md {
                h2 {
                    margin-top: 60px;
                }
                & > div {
                    display: flex;
                    gap: 50px;

                    & > div {
                        flex: 1;
                    }
                }
            }
        }

        .soccer-field {
            width: 100%;
            height: 700px;
            background: linear-gradient(var(--purple-light), var(--purple));
            border-radius: 5px;
            display: grid;
            grid-template-areas:
                "P1 P2 P3"
                "P4 . P5"
                "P6 . P7"
                "P8 P9 P10"
                " . P11 . ";
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            gap: 10px 10px;
            justify-items: center;
            align-items: center;

            @for $i from 1 through 11 {
                .P#{$i} {
                    grid-area: P#{$i};
                }
            }

            &.horizontal-divider {
                background: linear-gradient(var(--gray-transparent) 50%, var(--gray-transparent) 50%) 0 50% / 100% 0.1em,
                            radial-gradient(transparent 3em, var(--gray-transparent) 3.15em, transparent 0.5em) 50% 50% / 10em 10em,
                            linear-gradient(to bottom, var(--purple-light), var(--purple-blue)) 0 0 / 100% 100%;
                            background-repeat: no-repeat;
            }

            .player-circle {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--white);
                width: 70px;
                height: 70px;
                background-color: rgba(255, 255, 255, 0.7);
                border: 1px solid var(--black);
                border-radius: 50%;
                margin: 10px;
                outline: 2px dashed var(--purple);
                outline-offset: 5px;
            }
        }

        .search-players-results {
            max-height: 700px;
            overflow-y: auto;
            padding: 10px;

            ul.players-list {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding-bottom: 10px;
                font-size: 0.9375rem;
                border-bottom: 1px solid var(--gray-light);

                li.player-infos {
                    padding: 15px;
                    border-radius: 5px;
                    outline: 2px dashed var(--bg-gray-light);
                    background: linear-gradient(var(--white), var(--gray-light));
                    display: flex;
                    justify-content: space-between;
                    min-height: 80px;
                    overflow: hidden;

                    span {
                        color: var(--pink);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        b {
                            color: var(--black);
                            font-weight: 600;
                        }
                    }

                    div:first-child {
                        flex: 1;
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: space-between;
                    }
                }
            }
        }

        button {
            font-family: inherit;
            font-weight: 500;
            font-size: 1rem;
            color: var(--white);
            width: 100%;
            height: 48px;
            background: linear-gradient(var(--purple-light) 25%, var(--purple));
            border-radius: 5px;
            border: 1px solid var(--pink);
            cursor: pointer;

            @include md {
                width: calc(50% - 25px);
            }
        }
    }
}