:root {
    --text-primary: #333333;
    --text-secondary: #505050;

    --purple: #8a1f6e;
    --purple-blue: #552c8a;
    --pink: #c00f4f;
    --pink-light: #bb588f;
    --white: #ffffff;

    // Background Colors
    --bg-color-main: #f7f3f7;
    --bg-color-light: #ced4da;
    --bg-color-dark: #e9e3e8;
    --bg-color-table: #f7eef7;
    --bg-color-footer: #e9e3e9;

    --box-shadow: rgba(0,0,0,0.3);
}