:root {    
    --white: #ffffff;
    --black: #343a40;

    --purple: #8a1f6e;
    --purple-light: #bb588f;
    --purple-blue: #552c8a;
    
    --pink: #c00f4f;
    --pink-light: #f7eef7;

    --gray: #adb5bd;
    --gray-light: #dee2e6;
    --gray-lighter: #f7f3f7;
    --gray-dark: #868e96;
    
    --bg-gray-dark: #e9e3e8;
    --bg-gray-light: #ced4da;

    --box-shadow: rgba(0,0,0,0.3);
}