:root {
    // Gradients
    --header-gradient: linear-gradient(to right, #c00f4f, #8a1f6e);
    --board-gradient: linear-gradient(to bottom, #c00f4f, #8a1f6e);
    --player-list-gradient: linear-gradient(to bottom, #fdfdfd, #e6e6e6);

    // Text Colors
    --text-primary: #333333;
    --text-secondary: #505050;
    --text-title: #552c8a;
    --text-white: #ffffff;
    --text-table-hover: #bb588f;

    // Background Colors
    --bg-color-main: #f7f3f7;
    --bg-color-light: #ced4da;
    --bg-color-footer: #e9e3e9;
    --bg-color-white: #ffffff;
}